{{! this is the landing page when the user arrives }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Tech Blog</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {{#if logged_in}}
            <li><a id="logout" href="/">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      <div class="card" id="home-body">
      {{{body}}}
      </div>
    </main>

    <footer>
      <p>&copy; 2023 Tech Blog. All rights reserved.</p>
    </footer>

    <script src="/js/addComment.js"></script>
    <script src="/js/addPost.js"></script>
    <script src="/js/deletePost.js"></script>
    <script src="/js/editPost.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/viewPost.js"></script>
  </body>
</html>