{{! when a user wants to add a comment to a blog post }}

<div class="card">
  <h3>Add a Comment</h3>
  <form class="flex-row justify-space-between align-center">
    <textarea placeholder="Leave a comment here..." rows="5"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>