{{!-- View page for whena user clicks on a single blog post --}}

<section class="container">
  <h3 class="blog-post">{{blog-post.name}}</h3>
  <h4>Title: {{}}</h4>
  <h4>Comments: {{}}</h4>
  <section class="flex-row justify-center">
    {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}}
  </section>
</section>