{{! this is the homepage the user can navigate to }}

  {{#if posts}}
    <div class="card">
      {{#each posts}}
        <h3>{{title}}</h3>
        <p>Posted by {{author}} on {{formatDate createdAt}}</p>
      {{/each}}
    </div>
  {{else}}
    <p>No posts available.</p>
  {{/if}}
